body {
  background: #d3aeab; ;
}

h1 {
  color: #4244b1;
  font-size: 3px; 
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {
  font-family: 'Courier New', Courier, monospace;
}

#tasks .completed {
  background: #ccc;
  text-decoration: underline;
}